
<h2>Login</h2>
<form [formGroup]="loginForm">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <ion-input type="text" class="form-control" formControlName="userName"></ion-input>
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <ion-input type="password" class="form-control" formControlName="passWord"></ion-input>
    </div>
    
    <ion-button type="submit" class="btn-primary" (click)="login()">Submit</ion-button>
</form>

