<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="person-circle-outline"></ion-icon> 
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <h1>Events</h1>
  <h5>I Have Been Invited To</h5>

  <ion-list inset="true">
    <ion-accordion-group *ngFor = "let e of regsAndEventsForGoer">
      <ion-accordion>
        <ion-item slot="header" class = "textInList">
          <ion-grid>
            <ion-row>
              <ion-col size="5">
                {{e.Event.dateFrom | date:'yyyy-MM-dd'}}<br>
                <span>to</span> <br>
                {{e.Event.dateTo | date:'yyyy-MM-dd'}}
              </ion-col>

              <ion-col size="4">
              {{e.Event.city}}
              </ion-col>

              <ion-col size="3">
              {{e.Event.eventName}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-list slot="content">
          <ion-item>
            <app-event-summary [userType] = "userTypes.GOER" [event]="e.Event" [regForGoer] = "e"></app-event-summary>
          </ion-item>
        </ion-list>
      </ion-accordion>

    </ion-accordion-group>
  </ion-list>
  
</ion-content>




 
